@media(min-width: 1200px){

    *{
        margin: 0px;
        padding: 0px;
        
    }
    
    body{
        background-image: url(../img/background_buildings.png);
    }
    
    .Contenido{
        margin-left: 10px;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    
    .cabeza{
        display: flex;
        background-color: black;
        height: 120px;
        
    }
    
    .cabeza .imagen-c{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        width: 60%;
    }
    .cabeza .texto{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .cabeza h2{
        color: white;
    }
    .cabeza p{
        color: white;
    }
    
    .menu{
        background-color: orange;
        height: 30px;
    }
    
    .menu a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 5px 10px 0;
        color: black;
    }
    
    .menu a:hover{
        background-color: black;
        color: white;
    }
    
    .banner{
        margin-bottom: 0%;
        background-color: white;
    }
    
    .banner img{
        width: 1200px;
        
    }
    
    .Parte1 {
        display: flex;
        background-color: white;
    }
    
    .Parte1 .izquierda {
        width: 50%;
    }
    
    .derecha{
        width: 50%;
    }
    
    .izquierda img{
        border-radius: 5%;
    }
    
    .Barot{
        display: flex;
        margin-left: 5px;
    }
    .Jhona{
        display: flex;
        margin-left: 5px;
    }
    .Hillary{
        display: flex;
        margin-left: 5px;
    }
    .Hassum{
        display: flex;
        margin-left: 5px;
    }
    .Jeniffer{
        display: flex;
        margin-left: 5px;
    }
    .LaVone{
        display: flex;
        margin-left: 5px;
    }
    .Constance{
        display: flex;
        margin-left: 5px;
    }
    .Riley{
        display: flex;
        margin-left: 5px;
    }
    .Xhou{
        display: flex;
        margin-left: 5px;
    }
    .galeria{
        margin-top: 25px;
        text-align: center;
    }
    
    .galeria img{
        width:25%;
        border-radius: 10px;
    }
    
    .com{
        margin-left: 15px;
    }
    
    .com h2{
        color: red;
    }
    .com h3{
        color: rgb(199, 191, 191);
    }
    
    .About{
        margin-left: 40px;
        margin-right: 40px;
    }
    .Art{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .pie{
        height: 180px;
        background-color: rgb(32, 32, 32);
        display: flex;
    }
    
    .pie .imagen-p{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 0%;
        width: 15%;
    }
    
    .pie .parrafo-p{
        color: white;
        font-family: sans-serif;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .pie .lista{
        margin-top: 30px;
        margin-left: 20px;
    }
    
    .pie a{
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 5px 10px 0;
        color: white;
    }
}


@media (max-width: 1199px) and (min-width: 1024px){
    *{
        margin: 0px;
        padding: 0px;
        
    }
    
    body{
        background-image: url(../img/background_buildings.png);
    }
    
    .Contenido{
        margin-left: 10px;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    
    .cabeza{
        display: flex;
        background-color: black;
        height: 120px;
        
    }
    
    .cabeza .imagen-c{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        width: 60%;
    }
    .cabeza .texto{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .cabeza h2{
        color: white;
    }
    .cabeza p{
        color: white;
    }
    
    .menu{
        background-color: orange;
        height: 30px;
    }
    
    .menu a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 5px 10px 0;
        color: black;
    }
    
    .menu a:hover{
        background-color: black;
        color: white;
    }
    
    .banner{
        margin-bottom: 0%;
        background-color: white;
    }
    
    .banner img{
        width: 1000px;
        
    }
    
    
    .Parte1 {
        display: flex;
        background-color: white;
    }
    
    .Parte1 .izquierda {
        width: 50%;
    }
    
    .derecha{
        width: 50%;
    }
    
    .izquierda img{
        border-radius: 5%;
    }
    
    .Barot{
        display: flex;
        margin-left: 5px;
    }
    .Jhona{
        display: flex;
        margin-left: 5px;
    }
    .Hillary{
        display: flex;
        margin-left: 5px;
    }
    .Hassum{
        display: flex;
        margin-left: 5px;
    }
    .Jeniffer{
        display: flex;
        margin-left: 5px;
    }
    .LaVone{
        display: flex;
        margin-left: 5px;
    }
    .Constance{
        display: flex;
        margin-left: 5px;
    }
    .Riley{
        display: flex;
        margin-left: 5px;
    }
    .Xhou{
        display: flex;
        margin-left: 5px;
    }
    .galeria{
        margin-top: 25px;
        text-align: center;
    }
    
    .galeria img{
        width:25%;
        border-radius: 10px;
    }
    
    .com{
        margin-left: 15px;
    }
    
    .com h2{
        color: red;
    }
    .com h3{
        color: rgb(199, 191, 191);
    }
    
    .About{
        margin-left: 40px;
        margin-right: 40px;
    }
    .Art{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .pie{
        height: 180px;
        background-color: rgb(32, 32, 32);
        display: flex;
    }
    
    .pie .imagen-p{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 0%;
        width: 15%;
    }
    
    .pie .parrafo-p{
        color: white;
        font-family: sans-serif;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .pie .lista{
        margin-top: 30px;
        margin-left: 20px;
    }
    
    .pie a{
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 5px 10px 0;
        color: white;
    }
}

@media (max-width: 1023px){
    *{
        margin: 0px;
        padding: 0px;
        
    }
    
    body{
        background-image: url(../img/background_buildings.png);
    }
    
    .Contenido{
        margin-left: 10px;
        max-width: 350px;
        margin: 0 auto;
    }
    
    
    .cabeza{
        display: flex;
        background-color: black;
        height: 120px;
        
    }
    
    .cabeza .imagen-c{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        width: 60%;
    }
    .cabeza .texto{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    
    .cabeza h2{
        color: white;
    }
    .cabeza p{
        color: white;
    }
    
    .menu{
        background-color: orange;
        height: 30px;
    }
    
    .menu a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 5px 5px 0;
        color: black;
        font-size: 11px;
    }
    
    .menu a:hover{
        background-color: black;
        color: white;
    }
    
    .banner{
        margin-bottom: 0px;
        background-color: white;
    }
    
    .banner img{
        width: 350px;
        
    }
    
    
    .Parte1 {
        background-color: white;
    }
    
    .izquierda img{
        border-radius: 5%;
    }
    
    .Barot{
        display: flex;
        margin-left: 5px;
    }
    .Jhona{
        display: flex;
        margin-left: 5px;
    }
    .Hillary{
        display: flex;
        margin-left: 5px;
    }
    .Hassum{
        display: flex;
        margin-left: 5px;
    }
    .Jeniffer{
        display: flex;
        margin-left: 5px;
    }
    .LaVone{
        display: flex;
        margin-left: 5px;
    }
    .Constance{
        display: flex;
        margin-left: 5px;
    }
    .Riley{
        display: flex;
        margin-left: 5px;
    }
    .Xhou{
        display: flex;
        margin-left: 5px;
    }
    .galeria{
        margin-top: 25px;
        text-align: center;
    }
    
    .galeria img{
        width:25%;
        border-radius: 10px;
    }
    
    .com{
        margin-left: 15px;
    }
    
    .com h2{
        color: red;
    }
    .com h3{
        color: rgb(199, 191, 191);
    }
    .com img{
        width: 90%;
    }
    
    .About{
        margin-left: 40px;
        margin-right: 40px;
    }
    .Art{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .pie{
        height: 180px;
        background-color: rgb(32, 32, 32);
        display: flex;
    }
    
    .imagen-p{
        width: 45px;
    }

    .parrafo-p{
        font-size: 0px;
    }
    
    .lista{
        margin-top: 5px;
        margin-left: 50px;
    }
    
    .pie a{
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 5px 3px 0;
        color: white;
        font-size: 8px;
    }
}







